
#main_canvas {
    position: relative;
}

.node {
    position: absolute;
    background-color: hsl(200, 80%, 80%);
    padding: 20px;
    border: 1px solid #111;
}

#main_bg_svg {
    position: absolute;
    z-index: -1;
}
